USE [Sales & Customer Insights Dashboard]
GO

SELECT [CustomerID]
      ,[FirstName]
      ,[LastName]
      ,[Gender]
      ,[BirthDate]
      ,[City]
      ,[JoinDate]
  FROM [dbo].[Custome Info]

GO

-- Drop if already exists (optional but recommended)
IF OBJECT_ID('dbo.CleanCustomers', 'V') IS NOT NULL
    DROP VIEW dbo.CleanCustomers;
GO  -- 🔹 This separates batches

--- Clean Views for Data Preparation---
CREATE VIEW dbo.[CleanCustomers] AS
SELECT 
    CustomerID,
    FirstName,
    LastName,
    Gender,
    DATEADD(day, BirthDate - 2, '1900-01-01') AS BirthDate,
    City,
    DATEADD(day, JoinDate - 2, '1900-01-01') AS JoinDate
FROM dbo.[Custome Info];  --check table name spelling---
GO

USE [Sales & Customer Insights Dashboard]
GO

SELECT [TransactionID]
      ,[Date]
      ,[CustomerID]
      ,[ProductID]
      ,[StoreID]
      ,[Quantity]
      ,[Discount]
      ,[PaymentMethod]
  FROM [dbo].[C Transaction Info]

GO

IF OBJECT_ID('dbo.CleanTransactions', 'V') IS NOT NULL
    DROP VIEW dbo.CleanTransactions;
GO

--- Clean Views for Data Preparation---
CREATE VIEW dbo.[CleanTransactions] AS
SELECT 
    TransactionID,
    DATEADD(day, Date - 2, '1900-01-01') AS TransactionDate,
    CustomerID,
    ProductID,
    StoreID,
    Quantity,
    Discount,
    PaymentMethod
FROM dbo.[C Transaction Info];
GO

USE [Sales & Customer Insights Dashboard]
GO

SELECT [ProductID]
      ,[ProductName]
      ,[Category]
      ,[SubCategory]
      ,[UnitPrice]
      ,[CostPrice]
  FROM [dbo].[Custome Product Info]

GO

---Top Selling Products Analysis---
SELECT 
    t.TransactionID,
    t.ProductID AS TransactionProductID,
    p.ProductID AS ProductTableID,
    p.ProductName,
    p.Category,
    t.Quantity,
    p.UnitPrice,
    (t.Quantity * p.UnitPrice) AS LineTotal
FROM dbo.CleanTransactions AS t
JOIN dbo.[Custome Product Info] AS p
    ON t.ProductID = p.ProductID
WHERE t.TransactionID IN ('T00001', 'T00002', 'T00003');

SELECT 
    c.CustomerID,
    c.FirstName,
    c.LastName,
    c.City,
    COUNT(t.TransactionID) AS TotalTransactions,
    SUM(t.Quantity) AS TotalItemsPurchased,
    SUM(t.Quantity * p.UnitPrice * (1 - t.Discount)) AS TotalSpent
FROM dbo.CleanCustomers AS c
JOIN dbo.CleanTransactions AS t 
    ON c.CustomerID = t.CustomerID
JOIN dbo.[Custome Product Info] AS p 
    ON t.ProductID = p.ProductID
GROUP BY 
    c.CustomerID, c.FirstName, c.LastName, c.City
ORDER BY 
    TotalSpent DESC;


SELECT 
    s.Region,
    s.City,
    s.StoreName,
    COUNT(t.TransactionID) AS TransactionCount,
    SUM(t.Quantity * p.UnitPrice) AS TotalRevenue,
    AVG(t.Quantity * p.UnitPrice) AS AvgTransactionValue
FROM dbo.[Customer store info] s
JOIN CleanTransactions t ON s.StoreID = t.StoreID
JOIN dbo.[Custome Product Info] p ON t.ProductID = p.ProductID
GROUP BY s.Region, s.City, s.StoreName
ORDER BY s.Region, TotalRevenue DESC;

SELECT 
    PaymentMethod,
    COUNT(*) AS TransactionCount,
    SUM(Quantity) AS TotalItems,
    AVG(Discount) AS AverageDiscount,
    SUM(Quantity * p.UnitPrice * (1 - t.Discount)) AS TotalRevenue
FROM CleanTransactions t
JOIN dbo.[Custome Product Info] p ON t.ProductID = p.ProductID
GROUP BY PaymentMethod
ORDER BY TotalRevenue DESC;

SELECT 
    YEAR(TransactionDate) AS Year,
    MONTH(TransactionDate) AS Month,
    COUNT(*) AS TransactionCount,
    SUM(Quantity * p.UnitPrice) AS GrossRevenue,
    SUM(Quantity * p.UnitPrice * (1 - t.Discount)) AS NetRevenue
FROM CleanTransactions t
JOIN dbo.[Custome Product Info] p ON t.ProductID = p.ProductID
GROUP BY YEAR(TransactionDate), MONTH(TransactionDate)
ORDER BY Year, Month;

SELECT 
    c.Gender,
    c.City,
    AVG(DATEDIFF(year, c.BirthDate, GETDATE())) AS AvgAge,
    COUNT(DISTINCT t.CustomerID) AS UniqueCustomers,
    AVG(t.Quantity * p.UnitPrice) AS AvgTransactionValue
FROM CleanCustomers c
JOIN CleanTransactions t ON c.CustomerID = t.CustomerID
JOIN dbo.[Custome Product Info] p ON t.ProductID = p.ProductID
GROUP BY c.Gender, c.City
ORDER BY AvgTransactionValue DESC;

SELECT 
    ProductName,
    Category,
    SubCategory,
    UnitPrice,
    CostPrice,
    (UnitPrice - CostPrice) AS ProfitMargin,
    ((UnitPrice - CostPrice) / UnitPrice) * 100 AS ProfitMarginPercentage,
    SUM(t.Quantity) AS TotalSold
FROM dbo.[Custome Product Info] p
JOIN CleanTransactions t ON p.ProductID = t.ProductID
GROUP BY ProductName, Category, SubCategory, UnitPrice, CostPrice
ORDER BY ProfitMarginPercentage DESC;

